{{!< default}}
    
<header id="header" class="header">
    <div class="inner">
        <span class="header-title">
            <h1 class="header-name">Blog</h1>
        </span>
    </div>
</header>

<div id="post-index" class="container">

    

    <main class="content" role="main">
    
        {{> "loop"}}
    
    </main>

</div>
